{% load static %}
<!-- Footer Area Start -->
<footer class="main-footer footer-one text-white">
    <div class="footer-widget-area bgs-cover pt-100 pb-50" style="background-image: url({% static 'assets/images/footer/footer-bg-dots.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget about-widget">
                        <div class="footer-logo mb-35">
                            <a href="{% url 'home' %}"><img src="{% static 'assets/images/logos/logo.png' %}" alt="Logo"></a>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget link-widget ml-20 rml-0">
                        <h4 class="footer-title">Page Links</h4>
                        <ul class="list-style-two">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">page</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget contact-widget mr-30 rmr-0">
                        <h4 class="footer-title">Contacts</h4>
                        <ul class="list-style-two">
                            <li><i class="fas fa-map-marker-alt"></i> 1791 Yorkshire Circle Kitty Hawk, NC 27949</li>
                            <li><i class="fas fa-clock"></i> Mon-Sat 9:00 - 7:00</li>
                            <li><i class="fas fa-phone-alt"></i> <a href="callto:+012-345-6789">+012-345-6789</a></li>
                            <li><i class="fas fa-envelope"></i> <a href="mailto:info@example.com">info@example.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget newsletter-widget">
                        <h4 class="footer-title">Newsletter</h4>
                        <p>Lorem ipsum dolor sit amet, <br>consectetur adipisicing</p>
                        <form action="#" method="post">
                            <input type="email" name="EMAIL" placeholder="Your Email Address" required>
                            <button value="submit"><i class="fa fa-location-arrow"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area bg-blue">
        <div class="container">
            <div class="copyright-inner pt-15">
                <div class="social-style-one mb-10">
                    <a href="http://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a>
                </div>
                <p>copyright 2022 Restly All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->